.tweet {
  padding: 6px;
}

.like {
  mask: url("/assets/images/like.svg");
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  height: 28px;
  width: 20px;
  background-color: black;
}
.liked {
  mask: url("/assets/images/heart-filled.svg");
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  height: 28px;
  width: 28px;
  background-color: red;
}
.comment {
  mask: url("/assets/images/comment.svg");
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  height: 28px;
  width: 22px;
  background-color: black;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 1px;
}
.btn {
  font-size: 12px;
  padding: 8px 16px;
  margin: 4px;
  border: 1px solid #1da1f2;
  background-color: #1da1f2;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0e71a6;
  border-color: #0e71a6;
}
