.login-page {
  height: 100dvh;
  overflow: auto;
  display: flex;
  justify-content: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: white;
}

.login-page::-webkit-scrollbar {
  display: none;
}

.login-form {
  display: flex;
  height: 100%;
  padding: 0 20px;
  overflow-x: auto;

  .login-form-div {
    display: flex;
    align-items: center;
    gap: 90px;
  }

  .email-password-inputs-container {
    width: 622px;
    margin-top: 5dvh;
  }

  .wrong-credentials-forgot-password {
    display: flex;
  }
}

.welcome {
  font-size: 40px;
  font-family: "font-regular", "font-regular-arabic", sans-serif;
  text-align: center;
  margin-block-end: 31px;
}

input {
  display: block;
  width: 535px;
  width: 90%;
  height: 40px;
  border: 0px;
  border-radius: 4px;
  line-height: 2;
  padding-inline-start: 5px;
  margin-block-start: 4px;
  font-size: 16px;

  &.error {
    border: 1px solid #dc3545;
  }
}

.userName-input {
  margin-block-end: 35px;
}

.password-input {
  margin-block-end: 18px;
}

.validation-message {
  display: flex;
  color: #000000;

  .exclamation-icon {
    height: 23px;
    width: 23px;
    margin-block-start: 10px;
    margin-inline-end: 7px;
  }

  .text-message {
    margin-top: 11px;
    margin-inline-start: 4px;
    font-family: "font-medium", "font-medium-arabic", sans-serif;
    font-size: 16px;
  }
}

.sign-in-container {
  display: flex;
  justify-content: center;
  margin-block-start: 16px;
  margin-block-end: 12px;
}

.sign-in {
  height: 40px;
  border: 1px solid #03a9f4;
  color: black;
  font-size: 16px;
  padding: 1px 33px;
  border-radius: 6px;
  background-color: white;

  &:hover {
    border: 1px solid #03a9f4;
  }
}
